.upperNav {
    display: flex;
    background-color: black;
    height: 300px;
}

.navLink {
    background-color: aqua;
    width: 350px;
    height: 270px;
    margin: auto;
}

.linkTitle {
    background-color: blueviolet;
    width: 150px;
    height: 50px;
}

.linkTitle.one {
    margin: 0 0 20px 0;
}

.linkTitle.two {
    margin: 0 auto 20px auto;
}

.linkTitle.three {
    margin: 0  0 20px auto;
}

.linkImg {
    background-color: deeppink;
    width: 350px;
    height: 200px;
    margin: 0 auto;
}

.lowerNav {
    display: flex;
    background-color: black;
    height: 300px;
}

.middleSec {
    background-color: brown;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.headShot {
    border-radius: 100%;
    height: 300px;
    width: 300px;
    display: inline-block;
    margin: auto 0 auto 4rem;
    grid-column: 2;
}

.iAm {
    margin: auto 0 auto 1rem;
    font-size: 3rem;
}

.hoverIAm:hover {
    color: aqua;
}

.about {
    background-color: chartreuse;
    height: 200px;
    width: 20rem;
    margin: auto 0;
    grid-column: 1;
}

.myBeliefs {
    background-color: crimson;
    height: 200px;
    width: 20rem;
    margin: auto;
    grid-column: 4;
}





























.col-4 {
    background-color: aqua;
}